
front: size 50px;
#colormarron{
    color:brown;
    font-size: 42px; }

h2{color:green;
font-size: 30px;} 

p{color:blue;
font-size: 21px;}

a{color:chartreuse;
font-size:21px;}

li{color:red;
font-size: 21px;}

ul{color:orangered;
font-size:21px;}

